@charset "UTF-8";
header .estilos-nav-bt, main .contacto-form-datos .contacto-form form ul li button {
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-transform: uppercase; }

/*reseteo del navegador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*body*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  height: 100vh; }

/*header*/
header {
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2; }
  header .header-logo-minimenu {
    display: flex;
    justify-content: center;
    height: 5rem; }
    header .header-logo-minimenu .header-logo {
      margin-top: 0.75rem;
      width: 62%; }
      header .header-logo-minimenu .header-logo img {
        height: 3.5rem;
        margin-left: 1rem;
        animation: animacion-logo;
        animation-duration: 1s;
        position: relative; }

@keyframes animacion-logo {
  0% {
    right: 10rem;
    opacity: 0%; }
  100% {
    right: 0;
    opacity: 100%; } }
        header .header-logo-minimenu .header-logo img:hover {
          opacity: 50%; }
    header .header-logo-minimenu .header-minimenu {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      width: 38%;
      align-items: flex-end;
      margin-right: 1rem; }
      header .header-logo-minimenu .header-minimenu .header-minimenu-enlace {
        animation: animacion-iconos;
        animation-duration: 1s;
        position: relative; }

@keyframes animacion-iconos {
  0% {
    left: 10rem;
    opacity: 0%; }
  100% {
    left: 0;
    opacity: 100%; } }
        header .header-logo-minimenu .header-minimenu .header-minimenu-enlace img {
          height: 0.7rem;
          margin-right: 0.1rem;
          justify-content: start; }
        header .header-logo-minimenu .header-minimenu .header-minimenu-enlace a {
          color: white;
          text-decoration: none;
          font-size: 70%;
          text-transform: uppercase; }
          header .header-logo-minimenu .header-minimenu .header-minimenu-enlace a:hover {
            color: #FA781A;
            justify-content: start; }
  header .estilos-nav-bt {
    background-color: #FA781A;
    font-size: 0.8rem; }
    header .estilos-nav-bt .container-fluid #navbarSupportedContent .navbar-nav .nav-item .nav-link {
      color: white; }
      header .estilos-nav-bt .container-fluid #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
        color: black; }

/*main*/
main {
  background-color: white;
  margin-bottom: 4rem; }
  main .titulo {
    padding-top: 9rem;
    text-align: center;
    margin: 2rem 1rem;
    color: black; }
    main .titulo h1 {
      border-bottom-width: 0.2rem;
      border-bottom-style: solid;
      border-bottom-color: #FA781A;
      padding-bottom: 0.5rem; }
  main .boton-whatsapp-mobile {
    position: fixed;
    right: 1rem;
    bottom: 3rem; }
    main .boton-whatsapp-mobile img {
      height: 3rem;
      filter: drop-shadow(0.15rem 0.25rem grey); }
  main .boton-whatsapp {
    display: none; }

/*inicio*/
main .inicio-portada {
  margin-top: 8.7rem; }
  main .inicio-portada .inicio-portada-img a img {
    width: 100%;
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: #FA781A; }
  main .inicio-portada .inicio-portada-txt {
    position: absolute;
    top: 10rem; }
    main .inicio-portada .inicio-portada-txt a {
      text-decoration: none; }
      main .inicio-portada .inicio-portada-txt a h1 {
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: 'Anton', sans-serif;
        color: white;
        text-align: left;
        margin-left: 1rem;
        margin-right: 0.5rem;
        opacity: 70%;
        animation: animacion-txt-inicio;
        animation-duration: 2s;
        opacity: 70%; }

@keyframes animacion-txt-inicio {
  0% {
    opacity: 0%; }
  100% {
    opacity: 70%; } }
  main .inicio-portada .inicio-portada-animacion {
    position: absolute;
    top: 9.5rem;
    width: 2.5rem;
    height: 0.05rem;
    background-color: #FA781A;
    margin-left: 1rem;
    animation: animacion-barra-inicio;
    animation-duration: 3s;
    animation-iteration-count: infinite; }

@keyframes animacion-barra-inicio {
  0% {
    left: 0; }
  100% {
    left: 100%; } }

main .inicio-accesos {
  position: relative;
  top: -2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  text-align: center; }
  main .inicio-accesos .inicio-card {
    background-color: white;
    animation: animacion-inicio;
    animation-duration: 2s;
    position: relative; }

@keyframes animacion-inicio {
  0% {
    top: 6rem;
    opacity: 5%; }
  100% {
    top: 0;
    opacity: 100%; } }
    main .inicio-accesos .inicio-card a {
      text-decoration: none; }
      main .inicio-accesos .inicio-card a img {
        height: 15rem; }
        main .inicio-accesos .inicio-card a img:hover {
          opacity: 70%; }
      main .inicio-accesos .inicio-card a .inicio-card-txt h2 {
        font-size: 2rem;
        text-transform: uppercase;
        color: black;
        font-family: 'Anton', sans-serif;
        letter-spacing: 0.1rem;
        border-bottom-width: 0.15rem;
        border-bottom-style: solid;
        border-bottom-color: #FA781A;
        padding-top: 0.6rem;
        padding-bottom: 0.25rem; }
        main .inicio-accesos .inicio-card a .inicio-card-txt h2:hover {
          opacity: 70%; }

/*nosotros*/
main .nosotros-txt-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem; }
  main .nosotros-txt-img .nosotros-txt p {
    width: 80%;
    margin-left: 10%; }
    main .nosotros-txt-img .nosotros-txt p span {
      font-weight: bold;
      color: #FA781A; }
  main .nosotros-txt-img #carouselExampleSlidesOnly {
    margin-left: 15%; }
    main .nosotros-txt-img #carouselExampleSlidesOnly .carousel-inner .carousel-item img {
      width: 80%; }

/*productos*/
main #productContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
  margin: 0 2rem; }
  main #productContainer .card-body {
    padding-bottom: 1.5rem;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: #FA781A;
    animation: animacion-productos;
    animation-duration: 2s;
    position: relative; }

@keyframes animacion-productos {
  0% {
    top: 6rem;
    opacity: 5%; }
  100% {
    top: 0;
    opacity: 100%; } }
    main #productContainer .card-body .imgProductos {
      padding-bottom: 0.5rem; }
      main #productContainer .card-body .imgProductos:hover {
        transform: scale(1.05); }
  main #productContainer .colorBoton {
    color: white;
    background-color: #FA781A;
    border-radius: 0px; }
    main #productContainer .colorBoton:hover {
      background-color: black; }

main h5 {
  color: #FA781A;
  font-size: small; }

main .total {
  margin: 2rem;
  text-align: center;
  font-size: large;
  background-color: #FA781A;
  color: white;
  padding: 1rem 0;
  animation: animacion-productos;
  animation-duration: 2s;
  position: relative; }

@keyframes animacion-productos {
  0% {
    top: 6rem;
    opacity: 5%; }
  100% {
    top: 0;
    opacity: 100%; } }

main #checkCart, main #emptyCart {
  color: white;
  background-color: #FA781A;
  border-radius: 0px;
  margin-left: 2rem;
  animation: animacion-productos;
  animation-duration: 2s;
  position: relative; }

@keyframes animacion-productos {
  0% {
    top: 6rem;
    opacity: 5%; }
  100% {
    top: 0;
    opacity: 100%; } }
  main #checkCart:hover, main #emptyCart:hover {
    background-color: black; }

main #cartContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 2rem 0 2rem; }
  main #cartContainer .card-body {
    padding-bottom: 0.75rem;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: silver; }
    main #cartContainer .card-body h4, main #cartContainer .card-body p {
      font-size: small; }
    main #cartContainer .card-body img {
      width: 50%; }
  main #cartContainer .colorBoton {
    color: white;
    background-color: #FA781A;
    border-radius: 0px; }
    main #cartContainer .colorBoton:hover {
      background-color: black; }

/*servicios*/
main .servicios-accesos {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  text-align: center; }
  main .servicios-accesos .servicios-card {
    background-color: black;
    padding: 0.5rem;
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: #FA781A;
    animation: animacion-productos;
    animation-duration: 2s;
    position: relative;
    color: white; }

@keyframes animacion-productos {
  0% {
    top: 6rem;
    opacity: 5%; }
  100% {
    top: 0;
    opacity: 100%; } }
    main .servicios-accesos .servicios-card:hover {
      transform: scale(1.05);
      box-shadow: silver 0px 2px 16px 0px;
      border: 0;
      border-bottom-width: 0.2rem;
      border-bottom-style: solid;
      border-bottom-color: #FA781A; }
    main .servicios-accesos .servicios-card img {
      height: 11rem; }
    main .servicios-accesos .servicios-card .servicios-card-txt h2 {
      padding-top: 0.5rem;
      width: 14.74rem;
      font-size: 1.25rem; }

/*contacto*/
main .contacto-form-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  main .contacto-form-datos .contacto-form {
    color: white; }
    main .contacto-form-datos .contacto-form form {
      background-color: #FA781A;
      padding: 1rem 3rem 1rem 1rem;
      width: 90%;
      margin-left: 1rem;
      margin-right: 1rem; }
      main .contacto-form-datos .contacto-form form ul li {
        list-style-type: none; }
        main .contacto-form-datos .contacto-form form ul li label {
          color: white;
          font-size: medium;
          margin-top: 0.5rem;
          text-align: start; }
        main .contacto-form-datos .contacto-form form ul li input {
          outline: none; }
        main .contacto-form-datos .contacto-form form ul li textarea {
          border: none;
          outline: none; }
        main .contacto-form-datos .contacto-form form ul li button {
          background-color: black;
          border: none;
          color: white;
          padding: 0.5rem;
          margin-top: 1rem; }
          main .contacto-form-datos .contacto-form form ul li button:hover {
            background-color: silver;
            color: black; }
  main .contacto-form-datos .contacto-datos {
    margin: 1rem 1rem 1rem 1rem;
    text-align: start;
    font-size: medium; }
    main .contacto-form-datos .contacto-datos span {
      font-weight: bold;
      color: #FA781A; }
    main .contacto-form-datos .contacto-datos a {
      text-decoration: none;
      color: #FA781A; }

main .contacto-mapa {
  display: flex;
  justify-content: center; }
  main .contacto-mapa iframe {
    border: 0.15rem solid #FA781A;
    padding: 0.25rem; }

main .contacto-mapa-tablet {
  display: none; }

main .contacto-mapa-desktop {
  display: none; }

/*footer*/
footer {
  background-color: black;
  border-top: 0.2rem solid #FA781A;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 0.1rem; }
  footer a {
    color: silver;
    text-decoration: none; }

/*MEDIA QUERIES TABLET*/
@media (min-width: 600px) and (max-width: 991px) {
  /* ↓↓↓ inicio header tablet ↓↓↓ */
  header .header-logo-minimenu .header-logo img {
    margin-left: 2rem; }
  header .header-logo-minimenu .header-minimenu {
    margin-right: 2rem; }
  header .estilos-nav-bt .container-fluid {
    margin-left: 1rem; }
  /* ↑↑↑ fin header tablet ↑↑↑ */
  /* ↓↓↓ inicio main tablet ↓↓↓ */
  main .titulo {
    text-align: left;
    margin: 2rem; }
  main .boton-whatsapp-mobile {
    display: none; }
  main .boton-whatsapp {
    display: flex;
    position: fixed;
    right: 1rem;
    bottom: 3rem; }
    main .boton-whatsapp img {
      height: 4rem;
      filter: drop-shadow(0.25rem 0.25rem grey); }
  main .inicio-portada .inicio-portada-txt a h1 {
    font-size: 4rem;
    margin-left: 2rem; }
  main .inicio-portada .inicio-portada-animacion {
    margin-left: 2rem; }
  main .inicio-accesos {
    top: -4rem; }
    main .inicio-accesos .inicio-card a img {
      height: 18rem; }
  main #productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    main #productContainer .card-body {
      height: 100%; }
  main .total {
    text-align: left;
    padding-left: 1.5rem; }
  main .servicios-accesos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    margin: 2rem;
    justify-items: center; }
  main .contacto-mapa {
    display: none; }
  main .contacto-mapa-tablet {
    display: flex;
    justify-content: center; }
    main .contacto-mapa-tablet iframe {
      border: 0.15rem solid #FA781A;
      padding: 0.25rem; }
  main .contacto-mapa-desktop {
    display: none; } }

/*MEDIA QUERIES DESKTOP*/
@media (min-width: 992px) {
  /* ↓↓↓ inicio header desktop ↓↓↓ */
  header .header-logo-minimenu {
    height: 7rem; }
    header .header-logo-minimenu .header-logo {
      margin-top: 1rem; }
      header .header-logo-minimenu .header-logo img {
        height: 5rem;
        margin-left: 6rem; }
    header .header-logo-minimenu .header-minimenu {
      margin-right: 6rem;
      margin-top: 3.5rem; }
  header .estilos-nav-bt {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 4.5rem; }
    header .estilos-nav-bt .container-fluid #navbarSupportedContent .navbar-nav .nav-item {
      padding-right: 0.9rem; }
  /* ↑↑↑ fin header desktop ↑↑↑ */
  /* ↓↓↓ inicio main desktop ↓↓↓ */
  main {
    margin-top: 12rem; }
    main .titulo {
      padding-top: 3rem;
      text-align: left;
      margin: 2rem 5rem; }
    main .boton-whatsapp-mobile {
      display: none; }
    main .boton-whatsapp {
      display: flex;
      position: fixed;
      right: 1rem;
      bottom: 3rem; }
      main .boton-whatsapp img {
        height: 4rem;
        filter: drop-shadow(0.25rem 0.25rem grey); }
    main .inicio-portada .inicio-portada-img {
      text-align: center;
      background-color: black;
      border-bottom-width: 0.2rem;
      border-bottom-style: solid;
      border-bottom-color: #FA781A; }
      main .inicio-portada .inicio-portada-img a img {
        width: 60%;
        border: 0; }
    main .inicio-portada .inicio-portada-txt {
      top: 14.5rem; }
      main .inicio-portada .inicio-portada-txt a h1 {
        width: 55%;
        font-size: 6rem;
        margin-left: 6rem; }
    main .inicio-portada .inicio-portada-animacion {
      top: 14rem;
      margin-left: 6rem; }
    main .inicio-accesos {
      top: -3rem;
      flex-direction: row;
      column-gap: 2.5rem;
      justify-content: center;
      /* inicio cards*/ }
      main .inicio-accesos .inicio-card a img {
        height: 17rem; }
    main .nosotros-txt-img {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: auto auto;
      align-items: start; }
      main .nosotros-txt-img .nosotros-txt p {
        margin-left: 5rem;
        text-align: justify; }
        main .nosotros-txt-img .nosotros-txt p span {
          font-weight: bold;
          color: #FA781A; }
    main #productContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr); }
    main .total {
      text-align: left;
      padding-left: 1.5rem; }
    main #cartContainer .card-body img {
      width: 25%; }
    main .servicios-accesos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 4rem;
      margin: 2rem 5rem;
      justify-items: center; }
    main .contacto-form-datos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      justify-items: center; }
      main .contacto-form-datos .contacto-form {
        margin-left: 4rem;
        color: white; }
        main .contacto-form-datos .contacto-form form {
          background-color: #FA781A;
          padding: 1rem 3rem 1rem 1rem;
          width: 90%;
          margin-left: 1rem;
          margin-right: 1rem; }
          main .contacto-form-datos .contacto-form form ul li {
            list-style-type: none; }
            main .contacto-form-datos .contacto-form form ul li label {
              color: white;
              font-size: medium;
              margin-top: 0.5rem;
              text-align: start; }
            main .contacto-form-datos .contacto-form form ul li input {
              outline: none; }
            main .contacto-form-datos .contacto-form form ul li textarea {
              border: none;
              outline: none; }
            main .contacto-form-datos .contacto-form form ul li button {
              background-color: black;
              border: none;
              color: white;
              padding: 0.5rem;
              margin-top: 1rem; }
              main .contacto-form-datos .contacto-form form ul li button:hover {
                background-color: silver;
                color: black; }
      main .contacto-form-datos .contacto-datos {
        margin: 1rem 1rem 1rem 1rem;
        text-align: start;
        font-size: medium; }
        main .contacto-form-datos .contacto-datos span {
          font-weight: bold;
          color: #FA781A; }
        main .contacto-form-datos .contacto-datos a {
          text-decoration: none;
          color: #FA781A; }
    main .contacto-mapa {
      display: none; }
    main .contacto-mapa-tablet {
      display: none; }
    main .contacto-mapa-desktop {
      display: flex;
      justify-content: center;
      margin-top: 2rem; }
      main .contacto-mapa-desktop iframe {
        border: 0.15rem solid #FA781A;
        padding: 0.25rem; } }

/* ↑↑↑ fin main desktop ↑↑↑ */
