header .estilos-nav-bt, main .inicio-padre, .productos-padre {
  font-weight: bolder;
  letter-spacing: 0.25rem;
  text-transform: uppercase; }

/*reseteo del navegador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*body*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: white; }

/*header*/
header {
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: black;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 2;
  /*logo y minimenu*/
  /*estilos nav de BT*/ }
  header .header-logo-minimenu {
    display: flex;
    height: 5rem;
    /*logo*/
    /*minimenu*/ }
    header .header-logo-minimenu .header-logo img {
      height: 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      margin-top: 2rem; }
      header .header-logo-minimenu .header-logo img:hover {
        transform: scale(1.05); }
    header .header-logo-minimenu .header-minimenu {
      margin-top: 1.5rem; }
      header .header-logo-minimenu .header-minimenu nav ul li {
        list-style-type: none; }
        header .header-logo-minimenu .header-minimenu nav ul li img {
          height: 0.7rem;
          margin-right: 0.2rem; }
        header .header-logo-minimenu .header-minimenu nav ul li a {
          color: white;
          text-decoration: none;
          font-size: 70%;
          text-transform: uppercase; }
          header .header-logo-minimenu .header-minimenu nav ul li a:hover {
            color: #FA781A; }
  header .estilos-nav-bt {
    background-color: #FA781A;
    font-size: 0.8rem; }
  header .nav-link {
    color: white; }
    header .nav-link:hover {
      color: black; }

/*estilos del main*/
main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main h1 {
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: #FA781A;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    font-weight: bold; }
  main p {
    font-weight: bold;
    margin-left: 8.5rem;
    margin-bottom: 1rem;
    margin-right: 9rem;
    margin-top: 1rem; }

/*estilos de inicio*/
main .inicio-portada a img {
  width: 50rem; }

main .inicio-portada #inicio-imagen-txt {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  position: relative;
  opacity: 50%;
  top: -270px;
  text-align: center; }

main .inicio-padre {
  text-align: center;
  font-size: 1.5rem; }
  main .inicio-padre .inicio-hijos-img {
    padding-top: 1rem; }
    main .inicio-padre .inicio-hijos-img img {
      height: 10rem; }
      main .inicio-padre .inicio-hijos-img img:hover {
        transform: scale(1.1); }
  main .inicio-padre .inicio-hijos-txt {
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: #FA781A;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    main .inicio-padre .inicio-hijos-txt:hover {
      color: #FA781A; }

main .inicio-padre-grid {
  display: none; }

/*estilos de nosotros*/
span {
  color: #FA781A; }

#carouselExampleSlidesOnly img {
  width: 17rem; }

/*estilos de productos*/
.productos-padre {
  text-align: center;
  font-size: 1.5rem; }
  .productos-padre .productos-hijos-img {
    padding-top: 1rem; }
    .productos-padre .productos-hijos-img img {
      height: 10rem; }
      .productos-padre .productos-hijos-img img:hover {
        transform: scale(1.1); }
  .productos-padre .productos-hijos-txt {
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: #FA781A;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .productos-padre .productos-hijos-txt:hover {
      color: #FA781A; }

.productos-padre-grid {
  display: none; }

/*estilos de servicios*/
.servicios-padre {
  margin-top: 2rem; }
  .servicios-padre ul li {
    font-weight: bolder;
    text-transform: uppercase; }
  .servicios-padre ul br {
    display: none; }

.servicios-hijos-barra {
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .servicios-hijos-barra a {
    background-color: #FA781A;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: black; }
    .servicios-hijos-barra a:hover {
      background-color: black;
      color: white; }

.servicios-hijos-img {
  border-top: #FA781A solid 0.1rem;
  padding: 1rem; }
  .servicios-hijos-img img {
    height: 12rem; }
    .servicios-hijos-img img:hover {
      transform: scale(1.1); }

/*estilos de contacto*/
.contacto-contenedor {
  width: 20rem; }
  .contacto-contenedor .contacto-formulario {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #FA781A; }
    .contacto-contenedor .contacto-formulario form ul li {
      list-style-type: none; }
      .contacto-contenedor .contacto-formulario form ul li label {
        font-weight: bolder;
        letter-spacing: 0.1rem;
        color: white;
        font-size: medium; }
  .contacto-contenedor .contacto-direccion {
    margin-top: 2rem; }
    .contacto-contenedor .contacto-direccion ul li {
      list-style-type: none;
      font-weight: bolder;
      font-size: medium; }
      .contacto-contenedor .contacto-direccion ul li:before {
        content: "\00BB \0020"; }
      .contacto-contenedor .contacto-direccion ul li a {
        text-decoration: none;
        color: #FA781A; }
      .contacto-contenedor .contacto-direccion ul li span {
        color: #FA781A; }
  .contacto-contenedor .contenedor-mapa {
    margin-top: 2rem; }
  .contacto-contenedor .contacto-mapa-desktop {
    display: none; }

/*footer*/
footer {
  background-color: black;
  border-top: 0.15rem solid #FA781A;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  /*texto del footer*/ }
  footer h2 {
    color: white;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    /*link externo del footer*/ }
    footer h2 a {
      color: grey;
      text-decoration: none; }

/*media queries desktop*/
@media screen and (min-width: 576px) {
  /*estilos nav de BT desktop*/
  .estilos-nav-bt {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 4.5rem; }
    .estilos-nav-bt .nav-item {
      padding-right: 0.9rem; }
  /*estilos del main desktop*/
  h1 {
    margin-left: 1rem;
    margin-bottom: 2rem;
    width: 68rem; }
  /*estilos de inicio desktop*/
  main .inicio-portada a img {
    width: auto;
    margin-bottom: 0px; }
  main .inicio-portada #inicio-imagen-txt {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 80px;
    margin-right: 50px;
    position: relative;
    opacity: 50%;
    top: -420px;
    left: 100px;
    text-align: left; }
  main .inicio-padre {
    display: none; }
  main .inicio-padre-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr, 1fr;
    column-gap: 4rem;
    row-gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    text-align: center; }
    main .inicio-padre-grid .inicio-hijos-img-grid img {
      width: 12rem; }
      main .inicio-padre-grid .inicio-hijos-img-grid img:hover {
        transform: scale(1.1); }
    main .inicio-padre-grid .inicio-hijos-txt-grid {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: #FA781A solid 0.1rem; }
      main .inicio-padre-grid .inicio-hijos-txt-grid:hover {
        color: #FA781A; }
  /*estilos de productos desktop*/
  .productos-padre {
    display: none; }
  .productos-padre-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr, 1fr, 2fr, 1fr;
    column-gap: 4rem;
    row-gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem; }
    .productos-padre-grid .productos-hijos-img-grid img {
      width: 12rem; }
      .productos-padre-grid .productos-hijos-img-grid img:hover {
        transform: scale(1.1); }
    .productos-padre-grid .productos-hijos-txt-grid {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: #FA781A solid 0.1rem; }
      .productos-padre-grid .productos-hijos-txt-grid:hover {
        color: #FA781A; }
  /*estilos de contacto desktop*/
  .contacto-contenedor {
    width: 50rem; }
    .contacto-contenedor .contacto-mapa {
      display: none; }
    .contacto-contenedor .contacto-mapa-desktop {
      display: flex; }
  /*estilos del footer desktop*/
  footer {
    text-align: left; } }
