/*footer*/
footer{    
    background-color: $color-secundario;         
    border-top: 0.2rem solid $color-principal; 
    margin-top: 2rem;  
    padding: 2rem;  
    text-align: center;   
    color: $color-fondo;  
    font-size: 0.6rem;   
    letter-spacing: 0.1rem;
        a{
        color: $color-filetes;
        text-decoration: none;   
        }   
}




