    /*estilos del main*/
    main{   
        background-color: $color-fondo;
        display: flex;
        flex-direction: column;
        align-items: center;             
        h1{   
            @include bordes-inferiores(0.2rem, solid, $color-principal); 
            margin-top: 2rem;
            padding-bottom:0.5rem;          
            }    
            p{                
                margin-left: 8.5rem;
                margin-bottom: 1rem;
                margin-right: 9rem;
                margin-top:1rem;
            }
        }