/*estilos del main*/
main{   
    background-color: $color-fondo; 
    margin-bottom: 4rem;   
    .titulo{
        text-align: center;   
        margin: 2rem 1rem; 
        color: $color-secundario;   
        h1{   
        @include bordes-inferiores(0.2rem, solid, $color-principal); 
        padding-bottom:0.5rem;    
        }    
    }
}
