/*MEDIA QUERIES TABLET*/
@media (min-width:600px) and (max-width:991px){ 
    /* ↓↓↓ inicio header tablet ↓↓↓ */
    header{          
        .header-logo-minimenu{    
            .header-logo{           
                img{            
                    margin-left: 2rem;
                } 
            }               
            .header-minimenu{              
                margin-right: 2rem;                
            }
        }            
        .estilos-nav-bt{
            .container-fluid{
                margin-left: 1rem;                
            }
        }
    }
    /* ↑↑↑ fin header tablet ↑↑↑ */
    /* ↓↓↓ inicio main tablet ↓↓↓ */  
    main{  
        .titulo{              
            text-align: left; 
            margin: 2rem;    
        }
        .boton-whatsapp-mobile{
            display: none;
        }
        .boton-whatsapp{
            display: flex;
            position: fixed;
            right: 1rem;
            bottom: 3rem;
            img{
                height: 4rem;
                filter: drop-shadow(0.25rem 0.25rem grey);
            }        
        }
        .inicio-portada{    
            .inicio-portada-txt{  
                a{
                    h1{   
                        font-size: 4rem; 
                        margin-left: 2rem;                            
                    }
                }                  
            }
            .inicio-portada-animacion{                           
                margin-left: 2rem;    
            }
        }
        .inicio-accesos{                     
            top: -4rem;    
            .inicio-card{      
                a{    
                    img{            
                        height: 18rem;                                      
                    }
                }
            }
        }
        .productos-accesos{
            display: grid;  
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);    
            column-gap: 2rem; 
            margin: 2rem;     
        } 
        .servicios-accesos{
            display: grid;  
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);    
            column-gap: 2rem; 
            margin: 2rem;    
            justify-items: center; 
        }             
    }
}
/*MEDIA QUERIES DESKTOP*/
@media (min-width:992px){ 
    /* ↓↓↓ inicio header desktop ↓↓↓ */
    header{        
        .header-logo-minimenu{   
            height: 7rem;                   
            .header-logo{ 
                margin-top: 1rem;          
                img{ 
                    height: 5rem;           
                    margin-left: 6rem;
                } 
            }                          
            .header-minimenu{              
                margin-right: 6rem;
                margin-top: 3.5rem;
            }
        }     
        .estilos-nav-bt{
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
            padding-left: 4.5rem;
            .container-fluid{                
                #navbarSupportedContent{
                    .navbar-nav{                    
                        .nav-item{ 
                            padding-right: 0.9rem;                    
                        }
                    }
                }
            }
        } 
    }
    /* ↑↑↑ fin header desktop ↑↑↑ */
    /* ↓↓↓ inicio main desktop ↓↓↓ */
    main{   
        margin-top: 12rem;   
        .titulo{  
            padding-top: 3rem;
            text-align: left; 
            margin: 2rem 5rem;   
        }  
        .boton-whatsapp-mobile{
            display: none;
        }
        .boton-whatsapp{
            display: flex;
            position: fixed;
            right: 1rem;
            bottom: 3rem;
            img{
                height: 4rem;
                filter: drop-shadow(0.25rem 0.25rem grey);
            }        
        }
        .inicio-portada{   
            .inicio-portada-img{                 
                text-align: center;               
                background-color: $color-secundario;
                @include bordes-inferiores(0.2rem, solid, $color-principal)
                a{     
                    img{  
                        width: 80%;  
                        border: 0;                                  
                    } 
                }  
            }     
            .inicio-portada-txt{                
                top: 14.5rem;  
                a{
                    h1{      
                        width: 55%;                                             
                        font-size: 6rem;   
                        margin-left: 6rem;             
                    }                                        
                }                  
            }
            .inicio-portada-animacion{
                top: 14rem;          
                margin-left: 6rem;                
            }
        }
        .inicio-accesos{ 
            top: -3rem;  
            flex-direction: row;         
            column-gap: 2.5rem; 
            justify-content: center;            
            /* inicio cards*/    
            .inicio-card{        
                a{                       
                    img{           
                        height: 17rem;                                      
                    } 
                }
            }
        }  
        .nosotros-txt-img{            
            display: grid;  
            grid-template-columns: 60% 40%;
            grid-template-rows: auto auto;  
            align-items: start;     
            .nosotros-txt{  
                p{   
                    margin-left: 5rem; 
                    text-align: justify;                      
                    span{
                        font-weight: bold;
                        color: $color-principal;
                    }          
                }
            }
        }
        .productos-accesos{
            display: grid;  
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);    
            column-gap: 4rem; 
            margin: 2rem 5rem;     
        }
        .servicios-accesos{
            display: grid;  
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);    
            column-gap: 4rem; 
            margin: 2rem 5rem;
            justify-items: center;     
        }
    }
}
    /* ↑↑↑ fin main desktop ↑↑↑ */   

