/*MEDIA QUERIES TABLET*/
@media (min-width:600px) and (max-width:991px){ 
    /* ↓↓↓ inicio header tablet ↓↓↓ */
    header{              
        /*logo y minimenu*/
        .header-logo-minimenu{     
            /*logo*/                                          
            .header-logo{           
                img{            
                    margin-left: 2rem;
                } 
            } 
            /*minimenu*/              
            .header-minimenu{              
                margin-right: 2rem;
                .header-minimenu-enlace{                                                                
                    img{   
                    }  
                    a{ 
                    }   
                }
            }
        }              
        /*estilos nav de BT*/
        .estilos-nav-bt{
            .container-fluid{
                margin-left: 1rem;
                .navbar-toggler{
                    .navbar-toggler-icon{
                    }
                }
                #navbarSupportedContent{
                    .navbar-nav{                    
                        .nav-item{                      
                            .nav-link{                                 
                                &:hover{                                
                                }                           
                            }
                        }
                    }
                }
            }
        }
    }
    /* ↑↑↑ fin header tablet ↑↑↑ */
    /* ↓↓↓ inicio main tablet ↓↓↓ */  
    main{      
        /*main*/
        .titulo{  
            text-align: left; 
            margin: 2rem;    
            h1{       
            }    
        }
        /*nosotros no tiene @media para tablet*/
        /*productos*/
        .productos-accesos{
            display: grid;  
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);    
            column-gap: 2rem; 
            margin: 2rem;      
            .productos-card{  
                &:hover{             
                }  
                a{
                    img{
                    }
                    .productos-card-txt{                    
                    }
                }
            }
        }


        .inicio-portada{        
            a{
                img{                
                    width: auto;
                    margin-bottom:0px;
                }
            }
            #inicio-imagen-txt{
                text-transform: uppercase; 
                font-family:Arial, Helvetica, sans-serif;
                color: white;
                font-weight:bolder;
                font-size: 80px;  
                margin-right: 50px;          
                position: relative;
                opacity: 50%;
                top: -420px; 
                left: 100px;     
                text-align: left;     
                }
        }          
        .inicio-padre{
            display:none;
        }
        .inicio-padre-grid{                
            display: grid;    
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 2fr, 1fr;
            column-gap: 4rem;
            row-gap: 1rem;
            align-items: center;
            font-size: 1.5rem; 
            font-weight: bolder;
            letter-spacing: 0.25rem;     
            text-transform: uppercase; 
            text-align: center;            
            .inicio-hijos-img-grid{
                img{ 
                    width: 12rem; 
                    &:hover{ 
                    transform: scale(1.1);
                    }
                }
            }
        .inicio-hijos-txt-grid{    
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: $color-principal solid 0.1rem;           
            &:hover{    
                color: $color-principal;
            } 
        }
    }   
    }    
      
    /*estilos de contacto desktop*/
    .contacto-contenedor{
        width: 50rem;
        .contacto-mapa{
            display:none;
        }
        .contacto-mapa-desktop{
            display: flex;
        }
    }
    /*estilos del footer desktop*/
    footer{
        text-align: left;      
    }
}
/*fin queries tablet*/

/*MEDIA QUERIES DESKTOP*/
@media (min-width:992px){ 
    /* ↓↓↓ inicio header desktop ↓↓↓ */
    header{              
        /*logo y minimenu*/
        .header-logo-minimenu{   
            height: 7rem;   
            /*logo*/                                          
            .header-logo{ 
                margin-top: 1rem;          
                img{ 
                    height: 5rem;           
                    margin-left: 6rem;
                } 
            } 
            /*minimenu*/              
            .header-minimenu{              
                margin-right: 6rem;
                margin-top: 3.5rem;
                .header-minimenu-enlace{                                                                
                    img{   
                    }  
                    a{ 
                    }   
                }
            }
        }          
        /*estilos nav de BT*/
        .estilos-nav-bt{
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
            padding-left: 4.5rem;
            .container-fluid{
                .navbar-toggler{
                    .navbar-toggler-icon{
                    }
                }
                #navbarSupportedContent{
                    .navbar-nav{                    
                        .nav-item{ 
                            padding-right: 0.9rem;                     
                            .nav-link{                                 
                                &:hover{                                
                                }                           
                            }
                        }
                    }
                }
            }
        } 
    }
    /* ↑↑↑ fin header desktop ↑↑↑ */
    /* ↓↓↓ inicio main desktop ↓↓↓ */
    main{  
        /*main*/    
        .titulo{  
            text-align: left; 
            margin: 2rem 5rem;    
            h1{       
            }    
        }
        /*nosotros*/
        .nosotros-txt-img{            
            display: grid;  
            grid-template-columns: 60% 40%;
            grid-template-rows: auto auto;  
            align-items: start;     
            .nosotros-txt{  
                p{   
                    margin-left: 5rem; 
                    text-align: justify;                      
                    span{
                        font-weight: bold;
                        color: $color-principal;
                    }          
                }
            }
            #carouselExampleSlidesOnly{     
                .carousel-inner {   
                    .carousel-item {
                        img{
                        }
                    }
                }        
            }
        }
        /*productos*/
        .productos-accesos{
            display: grid;  
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);    
            column-gap: 2rem; 
            margin: 2rem 5rem;      
            .productos-card{  
                &:hover{             
                }  
                a{
                    img{
                    }
                    .productos-card-txt{                    
                    }
                }
            }
        }
    }
}