/*estilos de productos*/
main{
    .productos-accesos{
        display: flex;  
        flex-direction: column;    
        row-gap: 2rem;  
        align-items: center;  
        text-align: center;    
        @extend %tipografia;
        font-size: 1.25rem;     
        .productos-card{ 
            @include bordes-inferiores(0.15rem, solid, $color-principal);
            padding-bottom: 1rem;  
            animation: animacion-productos;
            animation-duration: 2s;
            position: relative; 
            @keyframes animacion-productos {
                0% {top: 6rem; opacity: 5%}
                100% {top: 0; opacity: 100%}
            }
            &:hover{
                transform: scale(1.05);
                box-shadow: $color-filetes 0px 2px 16px 0px;
                border: 0;              
            }  
            a{
                color: $color-secundario;
                text-decoration: none;
                img{
                    height: 11rem;
                }
                .productos-card-txt{                    
                }
            }
        }
    }
}  