/*estilos de productos*/

.productos-padre{   
    @extend %tipografia;   
    text-align: center; 
    font-size: 1.5rem;    
    
    .productos-hijos-img{   
        padding-top: 1rem; 
        img{ 
            height: 10rem; 
            &:hover{transform: scale(1.1);
                }
            }
        } 
    .productos-hijos-txt{    
        @include bordes-inferiores(0.1rem, solid, $color-principal); 
        padding-top: 1rem;
        padding-bottom: 1rem;          
        &:hover{    
            color:$color-principal;
            }
        }    
    }    
.productos-padre-grid{
    display: none;
}