/*productos*/
main{
    #productContainer{        
        display: flex;  
        flex-direction: column;    
        row-gap: 2rem;           
        text-align: center;  
        margin: 0 2rem;     
        .card-body{                        
            padding-bottom: 1.5rem;
            @include bordes-inferiores(0.15rem, solid, $color-principal)
            animation: animacion-productos;
            animation-duration: 2s;
            position: relative; 
            @keyframes animacion-productos {
                0% {top: 6rem; opacity: 5%}
                100% {top: 0; opacity: 100%}
            } 
            .imgProductos{    
                padding-bottom: 0.5rem;                           
                &:hover{
                    transform: scale(1.05);                                     
                }
            }           
        }
        .colorBoton {
            color: $color-fondo;
            background-color: $color-principal;   
            border-radius: 0px;                                 
            &:hover {                
                background-color: $color-secundario;                                
            }
        }
    }    
    h4{
        color: $color-principal;
        font-size: small;
    }    
    .total{
        margin: 2rem;
        text-align: center;   
        font-size: large;   
        background-color: $color-principal;  
        color: $color-fondo;
        padding: 1rem 0;
        animation: animacion-productos;
        animation-duration: 2s;
        position: relative; 
        @keyframes animacion-productos {
            0% {top: 6rem; opacity: 5%}
            100% {top: 0; opacity: 100%}
        }
    }
    #checkCart, #emptyCart {                
        color: $color-fondo;
        background-color: $color-principal;  
        border-radius: 0px; 
        margin-left: 2rem;  
        animation: animacion-productos;
        animation-duration: 2s;
        position: relative; 
        @keyframes animacion-productos {
            0% {top: 6rem; opacity: 5%}
            100% {top: 0; opacity: 100%}
        }
        &:hover {                
            background-color: $color-secundario;            
        }
    }
    #cartContainer{ 
        display: flex;  
        flex-direction: column;                      
        text-align: center;  
        margin: 2rem 2rem 0 2rem;     
        .card-body{  
            padding-bottom: 0.75rem;           
            @include bordes-inferiores(0.1rem, solid, $color-filetes)           
            h3, p{
                font-size: small;
            } 
            img{
                width: 50%;            
            }        
        }
        .colorBoton {            
            color: $color-fondo;
            background-color: $color-principal;   
            border-radius: 0px;                                 
            &:hover {                
                background-color: $color-secundario;                                
            }            
        }
    } 
    #usdContainer{
    margin: 2rem 2rem 0 2rem;  
    } 
}
